.home {
    height: 80vh;
    background-image: url("../image_files/photo1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    position: relative;
  }
  
  .homeText{
    text-align: center;
    color: var(--whiteColor);
    font-size: 2rem;
    /* line-height: 2.5rem; */
  }

.popular {
    padding-top: 2rem;
}

/* .popular .hotel_box {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: var(--blackColor);
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 13px;
    color: var(--textColor);
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background: var(--greyText);
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--blackColor);
    color: var(--whiteColor);
    background: var(--greyText);
    color: var(--blackColor);
    background: var(--blackColor);
    color: var(--whiteColor);
    padding: 2rem 0;
    gap: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
} */

/* .popular .hotel_table {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  color: var(--textColor);
  line-height: 1.5rem;
  padding: 2rem 0;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  background: var(--greyText);
  position: relative;
  margin: 0 auto;
} */

/* .box1 .hotel_table1{
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  color: var(--textColor);
  line-height: 1.5rem;
  padding: 2rem 0;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  background: red;
  position: relative;
  margin: 0 auto;
}

.hotel_table1{ 
  border-collapse : collapse; 
} */

.box1, .box2, .box3{
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  color: black;
  line-height: 1.5rem;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  background: green;
  position: relative;
  margin: 30px auto;
  justify-content: center;
}

.hotel_table1{
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.hotel_table2 {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.hotel_table3 {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

.hotel_th, .hotel_td{
  font-size: 20px;
  width: 150px;
  height: 100px;
  text-align: center;
  /* border: 1px solid #000; */
  vertical-align: top;
  vertical-align: bottom;
  vertical-align: middle;
}

.hotel_th1{
  width: 50px
}


  /* .popular .setContainer .secHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .popular .setContainer .secHeader .textDiv .secTitle {
    color: var(--blackColor);
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
  }
  .popular .setContainer .secHeader .textDiv p {
    font-size: 13px;
    color: var(--textColor);
    font-weight: 500;
  }
  .popular .setContainer .secHeader .iconsDiv {
    display: flex;
    gap: 0.5rem;
  }
  .popular .setContainer .secHeader .iconsDiv .icon {
    padding: 0.5rem;
    background: var(--greyText);
    border-radius: 50%;
    font-size: 2.5rem;
  }
  .popular .setContainer .secHeader .iconsDiv .icon:hover {
    background: var(--blackColor);
    color: var(--whiteColor);
  }
  .popular .setContainer .secHeader .iconsDiv .leftIcon {
    background: var(--greyText);
    color: var(--blackColor);
  }
  .popular .setContainer .secHeader .iconsDiv .leftIcon:hover {
    background: var(--blackColor);
    color: var(--whiteColor);
  }
  .popular .setContainer .mainContent {
    padding: 2rem 0;
    gap: 1rem;
  }

  .popular .setContainer .mainContent .singleDestination {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  }



  .popular .setContainer .mainContent .singleDestination .destImage {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
  } */
  /* .popular .setContainer .mainContent .singleDestination .destImage img {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }
  .popular .setContainer .mainContent .singleDestination .destImage .overlayInfo {
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.759));
    bottom: 30%;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .popular .setContainer .mainContent .singleDestination .destImage .overlayInfo h3 {
    color: var(--whiteColor);
    font-weight: 600;
  }
  .popular .setContainer .mainContent .singleDestination .destImage .overlayInfo p {
    color: var(--whiteColor);
    opacity: 0.7;
    font-size: 13px;
  }
  .popular .setContainer .mainContent .singleDestination .destImage .overlayInfo .icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0.5rem;
    background: var(--PrimaryColor);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--whiteColor);
    border: 1px soild var(--PrimaryColor);
    transition: 0.3s ease;
  }
  .popular .setContainer .mainContent .singleDestination .destImage .overlayInfo .icon:hover {
    background: var(--blackColor);
    border: 1px solid var(--PrimaryColor);
    color: var(--PrimaryColor);
  }
  .popular .setContainer .mainContent .singleDestination .destFooter {
    display: flex;
    padding: 1rem;
  }
  .popular .setContainer .mainContent .singleDestination .destFooter .number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--blackColor);
    position: relative;
    width: max-content;
  }
  .popular .setContainer .mainContent .singleDestination .destFooter .number::after {
    content: "";
    position: absolute;
    background: var(--PrimaryColor);
    top: 45%;
    right: -150%;
    height: 5px;
    width: 45px;
    border-radius: 1rem;
  }
  .popular .setContainer .mainContent .singleDestination .destFooter .destText {
    justify-content: space-between;
  }
  .popular .setContainer .mainContent .singleDestination .destFooter .destText h6 {
    color: var(--blackColor);
    font-size: 15px;
  }
  .popular .setContainer .mainContent .singleDestination .destFooter .destText .flex {
    font-size: 16px;
    font-weight: 600;
    align-items: flex-start;
    transform: translateY(5px);
  }
  .popular .setContainer .mainContent .singleDestination .destFooter .destText .flex .icon {
    color: var(--PrimaryColor);
  }
  .popular .setContainer .mainContent .singleDestination:hover .overlayInfo {
    overflow: visible;
    padding: 1rem 1.5rem;
    height: 100%;
  }


  .hotel_box{
    width: 50%;
  } */